@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --primary-color: #2ebac1;
  --secondary-color: #a4d96c;
  --tertiary-color: #3a1097;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}
