.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.label {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.wrapper-input {
  position: relative;
  display: flex;
  width: 800px;
  padding: 22px 24px;
  border: 1px solid #999999;
  border-radius: 8px;

  &:focus-within {
    border-color: var(--primary-color);
  }

  .input {
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: 3px 25px 3px 3px;

    &::placeholder {
      font-weight: 500;
      color: #c4c4c4;
    }
  }

  .right-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding-left: 10px;
    cursor: pointer;
  }
}

.error {
  color: red;
  margin-top: 5px;
}
