.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;

  .logo {
    width: 121px;
    height: 156px;
  }

  .title {
    color: var(--primary-color);
  }
}
