.post-header {
  :global([class*="link"]) {
    width: 100%;
  }
}

:global([class*="post-header-item"]) {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 30px;

  :global([class*="post-card__content--secondary"]) {
    padding-top: 0;
    row-gap: 25px;

    :global([class*="post-card__title"]) {
      font-weight: 600;
      font-size: 36px;
      color: var(--primary-color);
    }
  }
}

.post-content {
  width: 80%;
  margin: 50px auto;

  .post-content--entry,
  .post-content--entry .ql-snow .ql-editor {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    h2,
    h3,
    h4 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 22px;
    }
    p {
      margin-bottom: 20px;
      line-height: 2;
    }
    figure {
      margin-bottom: 20px;
    }
    figure img {
      border-radius: 20px;
      margin-bottom: 10px;
    }
    figcaption {
      text-align: center;
      font-style: italic;
      font-size: 14px;
      color: #6b6b6b;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style: decimal;
    }
    ul,
    ol {
      margin-bottom: 20px;
      padding-left: 40px;
      margin-left: 0;
      li {
        margin-bottom: 10px;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      border-radius: 8px;
    }
    @media screen and (max-width: 1023.98px) {
      font-size: 14px;
      h2 {
        font-size: 26px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }

  .post-content--author {
    display: flex;
    align-items: center;
    column-gap: 43px;
    border-radius: 20px;
    margin-top: 72px;
    background: #f8f9fa;

    .author-avatar {
      width: 237px;
      height: 237px;
      border-radius: 20px;
      object-fit: cover;
    }

    .author-info {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      .author-name {
        color: #23bb86;
        font-size: 22px;
      }
    }
  }
}
