.wrapper {
  padding: 10px;

  .title {
    background: linear-gradient(135deg, #10b981, #059669, #047857);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px dashed rgb(216, 207, 207);

    .cre-btn {
      width: 170px;
      height: 50px;
      padding: 0 15px;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
  }

  .content-table {
    margin-top: 30px;
  }
}

.tag {
  width: 65px;
  padding: 3px 6px;
  border: 1px solid black;
  border-radius: 12px;
}

.title-post {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 👈 Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
