.wrapper {
  padding: 10px;

  .title {
    background: linear-gradient(135deg, #10b981, #059669, #047857);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px dashed rgb(216, 207, 207);

    .cre-btn {
      width: 170px;
      height: 50px;
      padding: 0 15px;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
  }

  .content-table {
    margin-top: 30px;
  }
}

.tag {
  width: 65px;
  padding: 3px 6px;
  border: 1px solid black;
  border-radius: 12px;
}

.title-post {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 👈 Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-post > :global([class*="wrapper"]) {
  width: 1030px;
  height: 800px;
  overflow-y: auto; // Thay đổi từ scroll thành auto

  & ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
  }
  & *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  & ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
  }

  & *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
  }
  & ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  & *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

// Modal Post Form
.thumbnail-upload {
  height: 272px;
  width: 422px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px !important;

  :global([class*="label-file"]) {
    border-radius: 10px;

    :global([class*="avatar"]) {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    :global([class*="avatar-default"]) {
      width: 150px;
      height: auto;
    }
  }
}

.add-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px 8px;
  font-weight: 500;
  margin-top: 20px;
}

.loading {
  height: 300px;

  :global([class*="spin"]) {
    width: 120px;
    height: 120px;
    border-width: 2px;
  }

  img {
    width: 50px;
    height: 70px;
  }
}
